    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    a:link {
        text-decoration: none;
    }
    
    body {
        font-family: Roboto, sans-serif;
    }
    
    h2 {
        font-size: 36px;
        font-weight: normal;
        text-transform: uppercase;
    }
    
    h2.has-first-block {
        position: relative;
        padding-left: 24px;
    }
    
    h2.has-first-block:before {
        content: ' ';
        display: inline-block;
        position: absolute;
        width: 10px;
        height: 35px;
        left: 0px;
        top: 1px;
        background-color: #e1e6ea;
    }
    
    .container {
        max-width: 1170px;
        margin: 0px auto;
        padding: 0px 15px;
    }
    /**header**/
    
    header {
        height: 80px;
        background-color: #1d2126;
        line-height: 80px;
    }
    
    header .container {
        line-height: 80px;
        display: flex;
        justify-content: space-between;
    }
    
    header .container ul li {
        display: inline;
        line-height: 80px;
    }
    
    header .container ul li a {
        display: inline-block;
        height: 30px;
        line-height: 26px;
        padding: 0px 12px;
        margin-left: 16px;
        border-radius: 3px;
        border: 2px solid transparent;
        color: #a4aead;
        text-transform: uppercase;
        font-size: 14px;
    }
    
    header .container ul li a:hover {
        border-color: #5b6168;
    }
    
    header .container ul li a.active {
        border-color: #23b7a4;
        color: #23b7a4;
    }
    /**banner**/
    
    #hero {
        height: 660px;
        background-image: url(images/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #3f4055;
        background-position: center center;
    }
    
    #hero .container {
        padding-top: 222px;
        position: relative;
        height: 660px;
    }
    
    #hero .container h2,
    #hero .container p,
    #hero .container div {
        max-width: 620px;
    }
    
    #hero .container h2 {
        color: white;
        line-height: 42px;
        text-transform: uppercase;
        font-weight: normal;
    }
    
    #hero .container p {
        font-size: 16px;
        color: #ccd0d7;
        line-height: 26px;
        margin-top: 26px;
    }
    
    #hero .container div {
        margin-top: 40px;
    }
    
    #hero .container div a {
        display: inline-block;
        height: 44px;
        padding: 0px 30px;
        border: 2px solid white;
        border-radius: 3px;
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        line-height: 40px;
        margin-right: 11px;
    }
    
    #hero .container div a:hover {
        background-color: #23b7a4;
        border-color: #23b7a4;
    }
    
    #hero .container ul {
        position: absolute;
        right: 0px;
        bottom: 30px;
    }
    
    #hero .container ul li {
        display: inline-block;
        margin-left: 9px;
    }
    
    #hero .container ul li:first-child {
        margin-left: 0px;
    }
    
    #hero .container ul li a {
        width: 14px;
        height: 14px;
        border: 2px solid white;
        display: inline-block;
        text-indent: -1000000px;
        border-radius: 50%;
    }
    
    #hero .container ul li a.current {
        background-color: white;
    }
    /**about**/
    
    #about {
        height: auto;
        border-bottom: 2px solid #dde1e4;
        padding-bottom: 30px;
    }
    
    #about .container {
        padding-top: 83px;
    }
    
    #about .container h2 {
        color: #292f36;
        margin-bottom: 57px;
    }
    
    #about .container p {
        font-size: 16px;
        line-height: 26px;
        color: #8d8f92;
        margin-bottom: 25px;
    }
    
    #about .container>div {
        display: flex;
        justify-content: space-between;
    }
    
    #about .container div>div:first-child {
        width: 653px;
    }
    
    #about .container div>div:last-child {
        width: 457px;
    }
    
    #about ul {
        padding-top: 25px;
    }
    
    #about ul li {
        display: inline-block;
        list-style: none;
    }
    
    #about ul li a {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-color: #c8cdd0;
        text-indent: -1000000px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    
    #about ul li a:hover {
        background-color: #d0d5d9;
    }
    
    #about ul li:nth-child(1) a {
        background-image: url(images/icons/fb.png);
    }
    
    #about ul li:nth-child(2) a {
        background-image: url(images/icons/twitter.png);
    }
    
    #about ul li:nth-child(3) a {
        background-image: url(images/icons/gg.png);
    }
    
    #about ul li:nth-child(4) a {
        background-image: url(images/icons/d.png);
    }
    
    #about ul li:nth-child(5) a {
        background-image: url(images/icons/be.png);
    }
    
    #about ol {
        counter-reset: about;
    }
    
    #about ol li {
        list-style: none;
        position: relative;
        padding-left: 67px;
        margin-bottom: 31px;
    }
    
    #about ol li:before {
        counter-increment: about;
        content: counters(about, '.', decimal-leading-zero);
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #23b7a4;
        color: white;
        font-size: 20px;
        line-height: 50px;
        text-align: center;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    
    #about ol li h3 {
        font-weight: normal;
        font-size: 18px;
        text-transform: uppercase;
        color: #292f36;
        padding-bottom: 13px;
    }
    
    #about ol li p {
        line-height: 26px;
        font-size: 16px;
        color: #8d8f92;
    }
    
    #team {
        margin-top: 80px;
        margin-bottom: 100px;
    }
    
    #team h2 {
        color: #292f36;
    }
    
    #team-list {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    
    #team-list>div>div>img {
        display: block;
        max-width: 100%;
    }
    
    #team-list .mask {
        display: none;
    }
    
    #team-list ul li {
        list-style: none;
    }
    
    #team-list>div {
        width: calc((100% - 90px) / 4);
    }
    
    #team-list .info {
        height: 75px;
        background-color: #e1e6ea;
        padding: 20px 20px 0px 20px;
    }
    
    #team-list .info h4 {
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
        color: #292f36;
    }
    
    #team-list .info p {
        font-size: 14px;
        color: #8d8f92;
        margin-top: 3px;
    }
    
    #team-list>div:hover .info {
        background-color: #3a454d;
    }
    
    #team-list>div:hover .info h4,
    #team-list>div:hover .info p {
        color: white;
    }
    
    #team-list>div:hover>div:not(.info) {
        position: relative;
    }
    
    #team-list>div:hover>div .mask {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #team-list .mask ul {
        letter-spacing: -3px;
    }
    
    #team-list .mask ul li {
        display: inline-block;
    }
    
    #team-list .mask ul li a {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: #3a454d;
        text-indent: -1000000px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 15px;
    }
    
    #team-list .mask ul li a:hover {
        background-color: #4e5a62;
    }
    
    #team-list .mask ul li:nth-child(1) a {
        background-image: url(images/icons/twitter.png);
    }
    
    #team-list .mask ul li:nth-child(2) a {
        background-image: url(images/icons/fb.png);
    }
    
    #team-list .mask ul li:nth-child(3) a {
        background-image: url(images/icons/linkedin.png);
    }
    /* work */
    
    #work {
        background-color: #3a454d;
        padding-top: 80px;
        padding-bottom: 60px;
    }
    
    #work h2 {
        color: white;
    }
    
    #work-list {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #work-list>div {
        width: calc((100% - 60px) / 3);
        margin-bottom: 30px;
        position: relative;
        cursor: pointer;
    }
    
    #work-list>div img {
        max-width: 100%;
    }
    
    #work-list>div .mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(41, 47, 54, 0.5) url(images/icons/plus.png) no-repeat center 95px;
        display: none;
    }
    
    #work-list>div:hover .mask {
        display: block;
    }
    
    #work-list>div .mask h4 {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #292f36;
        width: 100%;
        height: 60px;
        color: white;
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        padding: 0px 20px;
        line-height: 60px;
    }
    
    #work-list>div .mask p {
        position: a;
    }
    
    #work-list>div:hover .mask {
        display: block;
    }
    
    #work #action {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    #work .container div button {
        height: 44px;
        padding: 0px 30px;
        border: 2px solid white;
        border-radius: 3px;
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        line-height: 40px;
        margin-right: 11px;
        background-color: transparent;
    }
    
    #work .container div button:hover {
        background-color: #23b7a4;
        border-color: #23b7a4;
    }
    
    #what-we-do {
        padding-top: 80px;
    }
    
    #what-we-do h2 {
        margin-bottom: 90px;
        color: #292f36;
    }
    
    #what-we-do ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 70px;
    }
    
    #what-we-do ul li {
        width: calc((100% - 90px) / 4);
        list-style: none;
        margin-bottom: 88px;
    }
    
    #what-we-do ul li:before {
        content: ' ';
        display: block;
        height: 48px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    #what-we-do ul li:nth-child(1)::before {
        background-image: url(images/icons/setup.png);
    }
    
    #what-we-do ul li:nth-child(2)::before {
        background-image: url(images/icons/pencil.png);
    }
    
    #what-we-do ul li:nth-child(3)::before {
        background-image: url(images/icons/mobile.png);
    }
    
    #what-we-do ul li:nth-child(4)::before {
        background-image: url(images/icons/clock.png);
    }
    
    #what-we-do ul li:nth-child(5)::before {
        background-image: url(images/icons/setup.png);
    }
    
    #what-we-do ul li:nth-child(6)::before {
        background-image: url(images/icons/pencil.png);
    }
    
    #what-we-do ul li:nth-child(7)::before {
        background-image: url(images/icons/mobile.png);
    }
    
    #what-we-do ul li:nth-child(8)::before {
        background-image: url(images/icons/clock.png);
    }
    
    #what-we-do ul li h4 {
        font-size: 17px;
        color: #292f36;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        margin-top: 35px;
        margin-bottom: 25px;
    }
    
    #what-we-do ul li p {
        font-size: 16px;
        line-height: 26px;
        color: #8d8f92;
        text-align: center;
    }
    /* features */
    
    #features {
        background-color: #3a454d;
        padding-top: 85px;
        padding-bottom: 115px;
    }
    
    #features h2 {
        color: white;
        margin-bottom: 60px;
    }
    
    #feature-list {
        display: flex;
        justify-content: space-between;
    }
    
    #feature-list div {
        width: calc((100% - 60px) / 3);
    }
    
    #feature-list div img {
        max-width: 100%;
    }
    
    #feature-list div h4 {
        color: white;
        font-size: 18px;
        line-height: 42px;
        font-weight: normal;
        text-transform: uppercase;
        margin-top: 42px;
        margin-bottom: 14px;
    }
    
    #feature-list div {
        font-size: 16px;
        line-height: 26px;
        color: #dcdfe1;
    }
    
    #contact {
        padding-top: 64px;
    }
    
    #contact #contact-info {
        z-index: 2;
        margin-top: -130px;
        display: flex;
        margin-bottom: 92px;
    }
    
    #contact h2 {
        margin-bottom: 60px;
    }
    
    #map {
        z-index: 1;
        width: 100%;
        height: 346px;
        background-image: url(images/map.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    
    #contact #contact-info>div,
    #contact #contact-info>form {
        width: calc((100% - 30px) / 2);
    }
    
    #contact div h4 {
        color: #292f36;
        font-size: 20px;
        line-height: 26px;
        font-weight: normal;
        text-transform: uppercase;
        margin-top: 185px;
        margin-bottom: 32px;
    }
    
    #contact div p {
        font-size: 16px;
        line-height: 26px;
        color: #8d8f92;
        margin-bottom: 30px;
    }
    
    #contact-info form {
        background-color: white;
        padding: 30px
    }
    
    #contact-info form #two-column {
        display: flex;
        justify-content: space-between;
    }
    
    #contact-info form #two-column div {
        width: calc((100% - 16px) / 2);
    }
    
    #contact-info form label {
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 26px;
        color: #8d8f92;
    }
    
    #contact-info form input,
    #contact-info form textarea {
        background-color: #eaeef1;
        border: none;
        border-radius: 3px;
        width: 100%;
        height: 45px;
        outline: none;
        margin-bottom: 25px;
        font-size: 20px;
        padding: 0px 22px;
        line-height: 44px;
    }
    /* 
#contact-info form input {
    padding: 0px 22px;
    line-height: 44px;
} */
    
    #contact-info form textarea {
        /* width: 494px; */
        max-width: 100%;
        height: 160px;
        max-height: 160px;
        padding: 8px 22px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    
    #contact-info button {
        height: 44px;
        padding: 0px 26px;
        border: none;
        border-radius: 3px;
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        line-height: 44px;
        background-color: #23b7a4;
        cursor: pointer;
    }
    
    #contact-info button:hover {
        background-color: #1b9182;
    }
    /* footer */
    
    footer {
        background-color: #3a454d;
        height: 95px;
        line-height: 95px;
    }
    
    footer div {
        display: flex;
        justify-content: space-between;
    }
    
    footer ul {
        height: 95px;
    }
    
    footer ul li {
        display: inline-block;
        height: 95px;
        padding: 0px 5px;
    }
    
    footer p {
        font-size: 14px;
        color: white;
    }
    
    footer ul li a {
        text-indent: -1000000px;
        display: inline-block;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        vertical-align: middle;
        background-position: center center;
    }
    
    footer ul li:nth-child(1) a {
        background-image: url(images/icons/twitter.png);
    }
    
    footer ul li:nth-child(2) a {
        background-image: url(images/icons/fb.png);
    }
    
    footer ul li:nth-child(3) a {
        background-image: url(images/icons/skype.png);
    }
    
    footer ul li:nth-child(4) a {
        background-image: url(images/icons/be.png);
    }
    
    footer ul li:nth-child(5) a {
        background-image: url(images/icons/linkedin.png);
    }
    /* responsive */
    
    @media screen and (max-width: 960px) {
        #hero .container h2,
        #hero .container p,
        #hero .container div {
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
        #hero .container ul {
            position: static;
            text-align: center;
            margin-top: 100px;
        }
        #about .container>div>div:first-child {
            width: 50%;
            padding-right: 20px;
        }
        #contact-info form #two-column {
            display: block;
        }
        #contact-info form #two-column div {
            width: 100%;
        }
        #contact-info form #two-column div input {
            margin-bottom: 10px;
        }
    }
    
    @media screen and (max-width: 845px) {
        header .container {
            display: block;
        }
        header {
            height: auto;
        }
        header .container h1 {
            text-align: center;
        }
        header ul {
            text-align: center;
        }
    }
    
    @media screen and (max-width: 768px) {
        header .container h1 {
            line-height: 50px;
        }
        header .container ul li {
            line-height: 50px;
        }
        header .container ul li a {
            margin-left: 0px;
        }
        #hero {
            height: 530px;
        }
        #hero .container {
            padding-top: 100px;
        }
        #about .container {
            padding-top: 30px;
        }
        #about .container h2 {
            margin-bottom: 20px;
        }
        #about .container>div {
            display: block;
        }
        #about .container>div>div:first-child,
        #about .container>div>div:last-child {
            width: 100%;
        }
        #about ul {
            text-align: center;
        }
        #about .container>div>div:first-child {
            margin-bottom: 50px;
        }
        #team {
            margin-top: 30px;
            margin-bottom: 40px
        }
        #team-list {
            margin-top: 20px;
            flex-wrap: wrap;
        }
        #team-list>div {
            width: calc((100% - 30px) / 2);
            margin-bottom: 30px;
        }
        #team-list>div>div>img {
            width: 100%;
        }
        #team-list .info {
            height: auto;
            padding: 5px 10px;
        }
        #work {
            padding-top: 30px;
            padding-bottom: 12px;
        }
        #work-list {
            margin-top: 30px;
        }
        #work-list>div {
            width: calc((100% - 30px) / 2);
        }
        #work #action {
            margin-top: 0px;
        }
        #what-we-do {
            padding-top: 30px;
            padding-bottom: 30px;
        }
        #what-we-do ul li {
            width: calc((100% - 30px) / 2);
            margin-bottom: 85px;
        }
        #what-we-do h2 {
            margin-bottom: 65px;
        }
        #what-we-do ul {
            margin-bottom: 0px;
        }
        #features {
            padding-top: 35px;
        }
        #features h2 {
            margin-bottom: 35px;
        }
        #feature-list {
            display: block;
        }
        #feature-list div {
            width: 100%;
        }
        #feature-list div img {
            display: block;
            margin: 0px auto;
        }
        #feature-list div h4 {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        #feature-list div {
            margin-bottom: 45px;
        }
        #contact {
            padding-top: 30px;
        }
        #contact h2 {
            margin-bottom: 30px;
        }
        #contact #contact-info {
            display: block;
            margin-top: 0px;
        }
        #contact #contact-info>div {
            width: 100%;
        }
        #contact div h4 {
            margin-top: 30px;
        }
        #contact #contact-info>form {
            width: 100%;
            padding: 0px;
        }
    }
    
    @media screen and (max-width: 500px) {
        header .container {
            line-height: 50px;
        }
        #hero .container {
            padding-top: 40px;
        }
        #hero h2 {
            font-size: 27px;
        }
        #hero .container p,
        #hero .container h2,
        #hero .container div {
            max-width: 100%;
        }
        #team-list div {
            width: 100%;
        }
        #work-list div {
            width: 100%;
        }
        #what-we-do ul li {
            width: 100%;
            margin-bottom: 50px;
        }
        #contact-info button {
            display: block;
            width: 100%;
        }
        footer {
            height: auto;
            line-height: 50px;
        }
        footer div {
            display: block;
        }
        footer p {
            text-align: center;
            line-height: 50px;
        }
        footer ul {
            text-align: center;
            height: 60px;
        }
        footer ul li {
            height: 60px;
        }
    }